.output-row {
    margin-bottom: 15px;
}

.randomize-button {
    bottom: 15px;
    position: relative;
    top: 15px;
}

@media (max-width: 980px) {
    .output-row {
        margin-bottom: 0px;
    }
    .row .panel {
        margin-bottom: 15px;
    }
}